header {
    font-size: 32px;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: left;
  }
.red{
    color: red
}